 <main class="center" id="main">

        <pb-breadcrumbs></pb-breadcrumbs>
        <!-- Semantic HTML Change 2: Add aside-->
        <aside>
            <p><strong>Tip:</strong> Update your budget weekly for best results.</p>
        </aside>

        <!-- A11y Change 2: Different language text -->
        <p>The budget app text in French: <span lang="fr">Gestion budgétaire personnelle</span></p>

        <!-- Semantic HTML Change 3: Use section -->      
        <section class="page-area">

            <pb-articles
                title="Stay on track"
                content="Do you know where you are spending your money? If you really stop to track it down,
                    you would get surprised! Proper budget management depends on real data... and this
                    app will help you with that!">
                
            </pb-articles>
    
            <pb-articles
                title="Alerts"
                content="What if your clothing budget ended? You will get an alert. The goal is to never go over the budget." >
            </pb-articles>
    
            <pb-articles
                title="Results"
                content="People who stick to a financial plan, budgeting every expense, get out of debt faster!
                    Also, they to live happier lives... since they expend without guilt or fear...  
                    because they know it is all good and accounted for.">
                
            </pb-articles>
    
            <pb-articles
                title="Free"
                content="This app is free!!! And you are the only one holding your data!">
                
            </pb-articles>
    
            <pb-articles
                title="Stay on track"
                content="Do you know where you are spending your money? If you really stop to track it down,
                    you would get surprised! Proper budget management depends on real data... and this
                    app will help you with that!">
                
            </pb-articles>
    
            <pb-articles
                title="Alerts"
                content="What if your clothing budget ended? You will get an alert. The goal is to never go over the budget." >
                
            </pb-articles>
    
            <pb-articles
                title="Results"
                content="People who stick to a financial plan, budgeting every expense, get out of debt faster!
                    Also, they to live happier lives... since they expend without guilt or fear... 
                    because they know it is all good and accounted for.">
                
            </pb-articles>
    
            <article>
                <h1>Chart</h1>
                <p>
                    <!-- A11y Change 3: Add aria-label -->
                    <canvas id="myChart" width="400" height="400" aria-label="Budget chart" role="img"></canvas>
                </p>
            </article>

        </section>

    </main>
